


<!-- <html>
<head>
    <title>Video Generator</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .loading {
            display: none;
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
        }
        .loading.show {
            display: block;
        }
    </style>
</head>
<body>
    
   <div class="container">
       
       <form id="Form1" action="." method="post" >
           <h3>ENTER KEYWORDS AND MAIL</h3>
           <input type="text" placeholder="Email" required name="email" id="mail">
           <input type="text" placeholder="1st" name = "words" id="input1">
           <input type="text" placeholder="2nd" name = "wordb" id="input2">
           <input type="text" placeholder="3rd" name = "wordc" id="input3">
           
           <div class="btn-box">
               <button type="submit" id="Next1" onclick="showLoading()">Submit</button>
           </div>
       </form>
       
       <div class="loading" id="loading-message">Please Wait while your video is generated</div>
       
   </div>



   <script>
        function showLoading() {
            document.getElementById("loading-message").classList.add("show");
        }
   </script>
    
</body>
</html>
 -->

 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project Login Form | </title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form action="."method="post">
        <div class="txt_field">
          <input type="text" name="email" id="email" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="pass" id="pass" required>
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="Login">
        
        
      </form>
    </div>

  </body>
</html>